body {
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 3em;
}

main {
    height: 95vh;
    display: flex;

    align-items: center;
}

.container {
    background-color: #fff;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
}



#registerContainer {
    width: 400px;
}

.form-container {
    width: 100%;
    padding: 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.slider-container {
    width: 50%;
    height: 100%;
    background: url('../img/plantaMano.jpg') center/cover;
    transition: transform 0.5s ease-in-out;
}


.form-container h2 {
    margin-bottom: 50px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button,
.form-container a {
    text-align: center;
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 45px;
    font-size: 16px;
}

.toggle-btn {
    margin-top: 10px;
    background: none;
    border: none;
    color: #585858;
    cursor: pointer;
    font-size: 14px;
}

@media (max-width: 1068px) {
    #home {
        justify-content: start;
        padding: 5em 2em 0;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
        text-align: left;
    }

    h3 {
        text-align: left;
    }

    #formContainer,.form-container {
        width: 100%;
    }

    .slider-container,
    #register-form {
        display: none;
    }
}