@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #252525;
    --dark-green: #002c0d;
    --medium-green: #00581b;
    --light-green: #2dab04;
    --lime-green: #95bf00;

    /* Colores azules complementarios */
    --dark-blue: #002b5c;
    --medium-blue: #005b96;
    --light-blue: #2daaff;
    --sky-blue: #87ceeb;
    --cyan-blue: #00bcd4;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body {
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 3em;
}

header img {
    height: 50px;
}

nav {
    width: 100%;

    & .nav-link {
        position: relative;
        color: var(--black);
        transition: color 0.3s ease;
    }

    & .nav-link:hover {
        color: var(--lime-green);
    }

    & .nav-link.active {
        color: var(--lime-green);
        font-weight: bold;
    }

    & .nav-link.active::before {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--lime-green);
        border-radius: 0 0 5px 5px;
    }
}

.brand-text {
    font-weight: 900;
    color: var(--lime-green);
}

.brand-text span {
    color: var(--dark-green);
}

.btn {
    width: 150px;
}

.btn:hover {
    background-color: #96bf00a1;
    border: 1px solid #96bf00d3;
    color: white;
}

main {
    height: 95vh;
    display: flex;
   
    align-items: center;
}

.container {
    background-color: #fff;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
}

.form-container {
    width: 50%;
    padding: 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.slider-container {
    position: absolute;
    width: 50%;
    height: 100%;
    background: url('../img/plantaMano.jpg') center/cover;
    transition: transform 0.5s ease-in-out;
    left: 50%;
    z-index: 2;
}

.container.active .slider-container {
    transform: translateX(-100%);
}

.form-container h2 {
    margin-bottom: 50px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 45px;
    font-size: 16px;
}

.toggle-btn {
    margin-top: 10px;
    background: none;
    border: none;
    color: #585858;
    cursor: pointer;
    font-size: 14px;
}

footer {
    background-color: var(--dark-green);
    color: #fff;
    text-align: center;

    .social {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 0;
        padding: 20px 0;
    }

    .social svg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .social svg:hover {
        transform: scale(1.1);
    }

    .footer-menu ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin: 1.5rem 0;
        padding: 0;
    }

    .footer-menu a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        transition: color 0.3s ease-in-out;
    }

    .footer-menu a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--lime-green);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-in-out;
    }

    .footer-menu a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .footer-menu a:hover {
        color: var(--lime-green);
    }

    .description {
        background-color: var(--lime-green);
        color: var(--black);
        font-weight: 500;
        border-top: 1px solid #555;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;

        p {
            margin: 0px;
        }

        i {
            margin: 0px;
        }
    }
}


@media (width <=1024px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (width <=768px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px) {



    .nav {
        flex-direction: column;
        gap: 1rem;
    }

    .d-md-flex {
        display: none !important;
    }

    .d-flex {
        justify-content: center;
    }

    .btn {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 1068px) {
    #home {
        justify-content: start;
        padding: 5em 2em 0;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
        text-align: left;
    }

    h3 {
        text-align: left;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    main>div {
        padding: 0 0;
    }

    #filters {
        display: none;
    }

    .products {
        width: fit-content;
    }

    .pagination {
        width: min-content;
        margin: 25px auto;
        display: flex;
        flex-direction: row;
    }

    footer {
        .social {
            height: 100%;

            .social ul {
                height: 100%;
            }

        }

        .footer-menu ul {
            font-size: 0.8em;
            display: flex;
            flex-direction: row;
            padding: 0 10px;
            margin: 5px 0;
        }

        .description {
            font-size: 0.8em;
            height: 75px;
        }
    }


}