@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-green: #002c0d;
    --medium-green: #00581b;
    --light-green: #2dab04;
    --lime-green: #95bf00;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-image: url("img/Wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

header img {
    height: 50px;
}

nav{
    width: 100%;
}

.brand-text {
    font-weight: 900;
    font-size: 2em;
    color: var(--lime-green);
}

.brand-text span {
    color: var(--dark-green);
}

nav div button{
    width: 150px;
}

#home {
    padding-top: 200px;
}

#home h1 {
    font-size: 5em;
    font-weight: 700;
    color: var(--lime-green);
}

#home h1 span {
    color: var(--dark-green);
}